.page{
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #0a1a4f 0%,
        #1f3c88 45%,
        #5f6fd6 100%
    );

    color: white;
    text-align: center;
}

h2{
    margin-top: 100px;
    font-size :xx-large
}
.textfield {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.textfield .MuiTextField-root {
    width: 60%;
}
